[submodule "contact-app"]
	path = contact-app
	url = git@github.com:zhpinkman/contact-app.git
[submodule "JIK_JIK"]
	path = JIK_JIK
	url = git@github.com:zhpinkman/JIK_JIK.git
[submodule "BricksBreaker"]
	path = BricksBreaker
	url = git@github.com:zhpinkman/BricksBreaker.git
[submodule "Mad-House"]
	path = Mad-House
	url = git@github.com:zhpinkman/Mad-House.git
[submodule "course-schedule-checker"]
	path = course-schedule-checker
	url = https://github.com/zhpinkman/course-schedule-checker
[submodule "Online-Shopping-App"]
	path = Online-Shopping-App
	url = https://github.com/zhpinkman/Online-Shopping-App/
[submodule "Board-Task-Manager"]
	path = Board-Task-Manager
	url = https://github.com/zhpinkman/Board-Task-Manager
